:root {
  --syntax_normal: #1b1e23;
}

body {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* Scroll menu */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* Scroll bar */
.scrollable-menu::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #FFFFFF;
}

.scrollable-menu::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.scrollable-menu::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.sectionRule {
  border: 1px solid #222529;
}

#outerContainer {
  /* padding: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#choroplethMap {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  width: 130px;
  height: 50px;
  padding: 10px;
  background: #2F2F2F;
  color: #f0f0f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#chartContainer {
  padding: 0px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
