:root {
  --syntax_normal: #1b1e23;
}

body {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.sectionRule {
  border: 1px solid #222529;
}

#outerContainer {
  /* padding: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#choroplethMap {
  /* padding: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  width: 120px;
  height: 50px;
  padding: 10px;
  background: #2F2F2F;
  color: #f0f0f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#chartContainer {
  padding: 100px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
