:root {
  --syntax_normal: #1b1e23;
}

body {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* Scroll menu */
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* Scroll bar */
.scrollable-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.scrollable-menu::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#outerContainer {
  /* padding: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 30%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 10px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  margin-bottom: 10px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 10px;
  background: #222529; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#choroplethMap {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  width: 130px;
  height: 50px;
  padding: 10px;
  background: #2f2f2f;
  color: #f0f0f0;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#chartContainer {
  padding: 0px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
