:root {
  --syntax_normal: #1b1e23;
}

body {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#outerContainer {
  /* padding: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#choroplethMap {
  /* padding: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartContainer {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
